<div class="maindiv">
  <h1>Calculator</h1>
</div>
<div class="calc-body">
<div class="calc-screen">
    <div id="calc-operation">{{input}} </div>
    <div id="calc-typed">{{result}}</div>
</div>
<div class="calc-button-row">
    <button class="ac" (click)="allClear()">AC</button>
    <button  (click)="toggleNegation()">&#43;&#47;&#8722;</button>
    <button  (click)="pressOperator('%')">&#37;</button>
    <button class="yellow" (click)="pressOperator('/')">&#247;</button>
    <button (click)="pressNum('7')">7</button>
    <button (click)="pressNum('8')">8</button>
    <button (click)="pressNum('9')">9</button>
    <button class="yellow" (click)="pressOperator('*')">&#215;</button>
    <button (click)="pressNum('4')">4</button>
    <button (click)="pressNum('5')">5</button>
    <button (click)="pressNum('6')">6</button>
    <button class="yellow" (click)="pressOperator('-')">&#8722;</button>
    <button (click)="pressNum('1')">1</button>
    <button (click)="pressNum('2')">2</button>
    <button (click)="pressNum('3')">3</button>
    <button class="yellow" (click)="pressOperator('+')">&#43;</button>
    <button style="height:62px;"
    (click)="clear()"> &#x232B;</button>
    <button (click)="pressNum('0')">0</button>
    <button (click)="pressNum('.')">.</button>
  
    <button class="yellow" (click)="getAnswer()">&#61;</button>
</div>
</div>